.container-about {
    width: 1110px;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 850px;
    bottom: 0;
    right: 50%;
    transform: translatex(50%);
}

.About-us {
    width: 1110px;
    background-color: #252525;
    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    color: #fff;
    visibility: hidden;
    padding: 10px;
}

.typo {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.typo h2 {
    font-size: 100px;
    color: #303030;
    font-weight: 900;
    letter-spacing: 20px;
}

.typo h3 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 9px;
    position: absolute;
    top: 37px;
    right: -99px;
    left: -100px;
    color: #D9D9D9;
    width: 100%;
    margin: 0 auto;
}

.content-about {
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 80px;
}

.text-about {
    width: 70%;
    margin: 0 auto;
    color: #A6A6A6;
    line-height: 30px;
    font-size: 15px;
}

.picther {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow-left {
    width: 80px;
    color: grey;
    position: absolute;
    transform: translate(-180%, -50%);
    stroke-width: 0.7px;
    opacity: 20%;
}

.arrow-right {
    width: 80px;
    color: grey;
    position: absolute;
    stroke-width: 0.7px;
    opacity: 20%;
    transform: translate(90%, -50%);
}

@keyframes fade {
    0% {
      opacity: 0;
  
    }
  
    100% {
      opacity: 1;
    }
  }

.fade {
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -o-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }

/* ----------------------------------------------------------------- */

@media screen and (max-width:1200px) {
    .container-about {
        width: 900px;
        top: 640px;
    }

    .About-us {
        max-width: 100%;
        visibility: visible;
    }

    .text-about {
        width: 75%;
    }
}

@media screen and (max-width:992px) {
    .container-about {
        width: 730px;
    }

    .typo {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .typo h2 {
        font-size: 80px;
    }

    .typo h3 {
        font-size: 22px;
        top: 34px;
        letter-spacing: 7px;
    }

    .content-about {
        gap: 55px;
    }
}

@media screen and (max-width:768px) {
    .container-about {
        width: 577px;
        top: 520px;
    }

    .text-about {
        font-size: 12px;
        width: 535px;
    }

    .typo h2 {
        font-size: 55px;
    }

    .typo h3 {
        font-size: 15px;
        top: 24px;
    }

    .arrow-left {
        width: 60px;
    }

    .arrow-right {
        width: 60px;
    }
}

@media screen and (max-width:576px) {
    .container-about {
        max-width: 90%;
        top: 400px;
    }

    .typo h3 {
        font-size: 11px;
    }

    .content-about {
        padding: 0;
    }

    .text-about {
        width: 90%;
        line-height: 25px;
        font-size: 10px;
    }

    .picther {
        margin: 40px auto 28px auto;
        height: 330px;
    }

    .arrow-left {
        width: 50px;
        transform: rotate(-90deg);
        bottom: 0;
        left: 45%;
    }

    .arrow-right {
        width: 50px;
        transform: rotate(-90deg);
        top: 0;
        left: 45%;
    }

}
