.container-about {
    width: 1110px;
    height: fit-content;
    margin: 0 auto;

    position: absolute;
    top: 850px;
    bottom: 0;
    right: 50%;
    transform: translatex(50%);

    visibility: hidden;
}

.About-us {
    width: 1110px;
    background-color: #252525;

    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    color: #fff;


}

.typo {
    width: 577px;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.typo h2 {
    font-size: 100px;
    color: #303030;
    font-weight: 900;
    letter-spacing: 20px;
}

.typo h3 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 9px;
    position: absolute;
    top: 37px;
    right: -99px;
    left: -100px;
    color: #D9D9D9;
}

.content-about {
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 80px;
}

.text-about {
    width: 61%;
    height: 60px;
    margin: 0 auto;
    color: #A6A6A6;
    line-height: 30px;
    font-size: 15px;
}

.picther {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: relative;
}

.img-about-us {
    max-width: 50%;
}

.arrow-left {
    width: 80px;
    color: grey;
    position: absolute;
    transform: translateX(-180%);
    stroke-width: 0.7px;
    opacity: 20%;
}

.arrow-right {
    width: 80px;
    color: grey;
    position: absolute;
    stroke-width: 0.7px;
    opacity: 20%;
    transform: translateX(90%);
}

@keyframes fade {
    0% {
      opacity: 0;
  
    }
  
    100% {
      opacity: 1;
    }
  }

.fade {
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -o-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }


/* ----------------------------------------------------------------- */

@media screen and (max-width:1200px) {
    .container-about {
        width: 900px;
        margin: 0 auto;

        top: 640px;

    }

    .About-us {
        max-width: 100%;

    }

    .text-about {
        width: 75%;
    }

    .arrow-left {
        width: 60px;
    }

    .arrow-right {
        width: 60px;
    }
}

@media screen and (max-width:992px) {
    .container-about {
        width: 730px;
        margin: 0 auto;

        top: 530px;
    }

    .About-us {
        max-width: 100%;
    }

    .typo {
        height: 90px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .typo h2 {
        font-size: 80px;
    }

    .typo h3 {
        font-size: 22px;
        top: 34px;
        right: -95px;
        letter-spacing: 7px;
    }

    .content-about {
        gap: 55px;
    }

    .text-about {
        font-size: 12px;
        width: 535px;
    }

    .img-about-us {
        width: 50%;
    }

    .arrow-left {
        width: 40px;
    }

    .arrow-right {
        width: 40px;
    }
}

@media screen and (max-width:850px) {
    .container-about {
        top: 480px;
    }
}

@media screen and (max-width:768px) {
    .container-about {
        width: 577px;
        margin: 0 auto;

        top: 410px;
    }

    .About-us {
        max-width: 100%;
    }

    .typo h2 {
        font-size: 55px;
    }

    .typo h3 {
        font-size: 15px;
        top: 24px;
        right: -88px;
    }

    .typo {
        height: 60px;
    }

    .content-about {
        gap: 30px;
    }

    .picther {
        align-items: center;
        flex-direction: column;
    }

    .img-about-us {
        width: 50%;
    }

    .arrow-left {
        width: 50px;
        transform: translate(-460%, 170%);
    }

    .arrow-right {
        width: 50px;
        transform: translate(370%, -275%);
    }
}

@media screen and (max-width:670px) {
    .container-about {
        max-width: 100%;
        margin: 0 auto;

        top: 350px;
    }

}
@media screen and (max-width:576px) {
    .container-about {
        max-width: 100%;
        margin: 0 auto;

        top: 330px;
    }

    .About-us {
        max-width: 100%;
    }

    .typo {
        height: 50px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .typo h2 {
        font-size: 45px;

    }

    .typo h3 {
        font-size: 8px;
        top: 23px;
        right: -90px;

    }

    .content-about {
        gap: 5px;
        padding: 0;
    }

    .text-about {
        width: 90%;
        line-height: 25px;
        font-size: 10px;
    }



    .picther {
        width: 100%;
        margin: 40px auto 0 auto;
        height: 500px;

    }

    .img-about-us {
        width: 50%;
    }

    .arrow-left {
        width: 40px;
        transform: translateY(-550%) rotate(90deg);
    }

    .arrow-right {
        width: 40px;
        transform: translateY(550%) rotate(90deg);
    }

}

@media screen and (max-width: 350px) {
    .text-about {
        width: 250px;
        font-size: 8px;
    }

}