.typo-chefz {
    position: relative;
    max-width: fit-content;
    margin: 0 auto;
    cursor: default;
}

.typo-chefz h3 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 12px;
    position: absolute;
    top: 31px;
    right: -70px;
    left: -70px;

}

.chefz {
    width: 1110px;
    height: 315px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    gap: 40px;
}

.typo-two-chefz {
    width: 1110px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
}

/* ---------------------------------------------------------- */
.content-chefz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1110px;
    height: 154px;
    margin: 0 auto;
}

.box-user {
    width: 350px;
    height: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-box-user {
    display: flex;
    align-items: center;
}

.box-user-img img {
    width: 65px;
    height: 65px;
    background-color: bisque;
    border-radius: 100px;
    margin-right: 20px;
    object-fit: cover;
}

.box-user-text h5 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.22px;
}

.box-user-text p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.15px;
    color: #fff;
    opacity: 50%;
}

.box-picher-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-item-one {
    width: 160px;
    height: 65px;
    object-fit: cover;
}

.img-item-two {
    width: 65px;
    height: 65px;
    object-fit: cover;
}

/* -------------------- */

.content-box-user img:hover {
    width: 70px;
    height: 70px;
}

.box-user-text a:hover {
    color: #34C759;
}

.img-item-one:hover {
    width: 165px;
    height: 70px;
}

.img-item-two:hover {
    width: 70px;
    height: 70px;
}

.three:hover {
    width: 70px;
    height: 70px;
}

/* -------------------------------------------- */

@media screen and (max-width:1200px) {
    .container-chefz {
        width: 900px;
        margin: 0 auto;
    }

    .chefz {
        width: 900px;
        height: 520px;
    }

    .typo-two-chefz {
        width: 900px;
    }

    .typo-chefz h3 {
        font-size: 25px;
    }

    .content-chefz {
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: auto;
        gap: 50px;
    }
}

@media screen and (max-width:992px) {
    .container-chefz {
        width: 730px;
        margin: 0 auto;
    }

    .chefz {
        width: 730px;
        height: 725px;
    }

    .typo-two-chefz {
        width: 730px;
    }

    .typo-chefz h3 {
        font-size: 25px;
    }

    .content-chefz {
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: auto;
        gap: 50px;
    }
}

@media screen and (max-width:768px) {
    .container-chefz {
        width: 600px;
        margin: 0 auto;
    }

    .chefz {
        width: 600px;
        height: 725px;
    }

    .typo-two-chefz {
        width: 600px;
    }

    .typo-chefz h3 {
        font-size: 25px;
    }

    .content-chefz {
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: auto;
        gap: 50px;
    }

}

@media screen and (max-width:576px) {
    .container-chefz {
        width: 95%;
        margin: 0 auto;
        height: 1000px;
    }

    .chefz {
        width: 100%;
        height: 725px;
        gap: 0;
    }

    .typo-two-chefz {
        width: 100%;
    }

    .typo-two-chefz .typo-two-item h2 {
        font-size: 48px;
        letter-spacing: 15px;
    }

    .typo-chefz h3 {
        letter-spacing: 5px;
        font-size: 15px;
        top: 20px;
    }

    .content-chefz {
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }

}
@media screen and (max-width:380px) {
    .box-user {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        height: auto;
    }

    .content-box-user {
        grid-column: 1 / 3;
        justify-self: center;
    }

    .img-item-one {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        justify-self: center;
        width: 204px;
    }

    .img-item-two {
        justify-self: end;
        width: 92px;
    }

    .three {
        justify-self: start;
        width: 92px;
        height: 65px;
        object-fit: cover;
    }

}